.carousel-item {
  height: 100vh;
}
.search-component {
  margin: 10.5rem auto;
  width: 80%;
  display: flex;
  justify-content: center;
}

.search-input {
  padding: 0.3rem 0;
  font-size: 1.1rem;
  width: 400px;
  color: #b3d240;
  outline: 0;
  padding-left: 0.3rem;
}
.chat-box{
  position: fixed;
  top: 20%;
  right: 0;
}

/* chat box */
iframe{
  border: 0;
}



.card-container {
  display: flex;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.card-address {
  border-bottom: 1px solid #b3d240;
  border-top: 1px solid #b3d240;
  /* border-right: 1px solid #b3d240; */
  padding: 1.5rem 1rem 1rem;
  width:800px;
}

.main-card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3.5rem;
}

.carousel-item > img {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #EC1C24;
}

.search-btn{
  background-color: #EC1C24;
  color: #fff;
}

@media (max-width: 600px) {
  .nav-item {
    text-align: center;
  }

  .navbar-nav {
    margin: 1rem;
  }

  .certification-list {
    flex-direction: column;
    justify-content: center;
  }

  .certification-list li {
    justify-content: flex-start;
  }
}

/* About */
.section-heading {
  text-align: center;
  margin: 1.5rem auto 1rem;
}

.text-center {
  text-align: center;
}

.container {
  width: 80%;
  margin: 1rem auto;
}


.section-sub-heading {
  margin: 2.5rem auto 2.5rem;
  text-align: center;
}

.about-container {
  margin: 5rem auto;
  width: 80%;
}

.footer p {
  margin-bottom: 0;
  padding: 1rem;
}

.footer {
  text-align: center;
  background-color: gray;
  margin-bottom: 0;
}

/* boostrap */
.navbar {
  padding: 0 1rem;
}